.stop, .run {
    font-size: 48px;
}

.stop {
    color: green;
}

.run {
    color:red;
}

#auto_move_btn{
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

.title {
    color: blue;
}